/* Geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #80808029;
    font-family: "Releway";
}
/* Cabeçalho */
header{
    width: 100%;
    background-color: #fff;
}
.cabecalho{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.cabecalho img{
    width: 32px;
    padding: 5px 5px 0 0;
}
.cabecalho p{
    font-size: 22px;
    color: rgb(93, 21, 209);
}
.banner-form{
    background-image: url(../assets/bahia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Formulário */
.formulario{
    width: 70%;
    height: 600px;
    background-color: #ffffffb4;    
}
form{
    width: 95%;
    height: 90%;
    padding: 10px 0;
    margin: 0 auto;
}
.form-cabecalho{
    width: 100%;
    display: flex;
    background-color: rgb(93, 21, 209);
    justify-content: center;
}
.form-cabecalho img{
    width: 20px;
    padding-right: 5px ;
}
.form-cabecalho h3{
    color: #fff;
}
.input-col{
    display: flex;
    flex-direction: column;
}
.input-col input{
    width: calc(100% - 50px);
    padding: 5px;
    margin: 10px 0;
}
.tab-duas-colunas input, .tab-duas-colunas select{
    width: calc((100%/2) - 160px);
    padding: 5px;
    margin: 20px 0;    
}
.tab-radio-check{
    margin: 10px 0;
}
form h2{
    padding-bottom: 30px;
}
form button{
    margin: 20px 0;
    border: none;
    padding: 10px 20px;
    background-color: rgb(93, 21, 209);
    color: #fff;
}
form button:hover{
    background-color: #fff;
    color: rgb(93, 21, 209);
}
.tab-radio-check label{
    padding: 5px 10px;
}
/* Seção marketing */
.marketing{
    max-width: 1024px;
    margin: 10px auto;
}
.ofertas{
    width: 100%;
    display: flex;
    margin: 10px 0;
    text-align: center; 
}
.uma-coluna{
    width: 100%;
}
.uma-coluna figure{
    width: 95%;
    position: relative;
}
.uma-coluna img{
    width: 100%;
    height: 100%; 
    
}
.uma-coluna figcaption{
    position: absolute;
    bottom: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    width: 100%;
}
.duas-colunas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;  
}
.duas-colunas figure{
    width: 50%;
    position: relative; 
}
.duas-colunas figcaption{
    position: absolute;
    bottom: 9px;
    left: 7px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    width: 95%;
}
.duas-colunas img{
    width: 95%;
    height: 95%;
}
.anuncios-img{
    display: flex;
    max-width: 1024px;
    justify-content: space-between;   
}
.anuncios-texto{
    margin: 10px 0; 
}
.anuncios-img figure{
    width: calc(50% - 10px);
    background-color: #fff;
}
.anuncios-img img{
    width: 100%;
}
/* Rodapé */
footer{
    width: 100%;
    background-color: rgb(93, 21, 209);
    margin-top: 30px;
}
.rodape{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.rodape-contato{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
.rodape-contato-img-parar{
    display: flex;
    margin-bottom: 5px;
}
.rodape-contato-img-parar img{
    width: 18px;
    margin-right: 5px;
}
.rodape-titulo{
    margin-top: 15px;
}
/* Responsivo */
@media (max-width: 540px){
    *{
        margin: 0 1px;
    }
    .input-col input, .tab-duas-colunas input, .tab-duas-colunas select{
        padding: 5px;
        margin: 0;
    }
    .tab-duas-colunas div{
        display: flex;
        flex-direction: column;
    }
    .tab-duas-colunas input, .tab-duas-colunas select{
        width: 80%;
        padding-right: 10px;
    }
    form button{
        margin: 10px 0;
    }
    form h2{
        padding-bottom: 20px;
    }
    .ofertas{
        flex-direction: column;
    }
    .duas-colunas figure{
        width: 100%;
    }
    .duas-colunas img{
        width: 100%;
    }
    .duas-colunas figcaption{
        width: 100%;
        left: 0;
        bottom: 10px;
    }
    .uma-coluna figure{
        width: 100%;
    } 
    .anuncios-img{
        flex-direction: column;
    }   
    .anuncios-img figure{
        width: 100%;
    }  
}



